.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  color: $side-color;

  &_start {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    color: $side-color;

    &__btn {
      color: $side-color;
      border: none;
      font-size: 40px;
      text-transform: uppercase;
      background: none;

      &:hover {
        color: $main-color;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      height: 200px;
      width: 300px;
      background-color: $game-background;
      border: 3px solid $main-color;
    }
  }

  &__dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 200px;
    width: 300px;
    background-color: $game-background;
    border: 3px solid $main-color;
  }

  &__header {
    color: $side-color;
    font-size: 60px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  &__btn {
    color: $side-color;
    border: none;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    background: none;

    &:hover {
      color: $main-color;
    }
  }
}